
  <!-- Footer Section -->
  <footer class="site-footer">
    <div class="footer-brand">
      <h2 class="footer-college-name">Sri Sivani College of Pharmacy</h2>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-columns">
      <div class="footer-col">
        <h3 class="footer-col-title">Campus</h3>
        <p class="footer-address">
          N.H-16, Chilakapalem Jn.,<br>
          Etcherla Mandal,<br>
          Srikakulam Dist - 532 402.
        </p>
      </div>

      <div class="footer-col">
        <h3 class="footer-col-title">Useful Info</h3>
        <ul class="footer-links">
          <li><a href="#">About College</a></li>
          <li><a href="#">IIQA</a></li>
          <li><a href="#">Faculty</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h3 class="footer-col-title">Useful Links</h3>
        <ul class="footer-links">
          <li><a href="#">Courses</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h3 class="footer-col-title">Downloads</h3>
        <ul class="footer-links">
          <li><a href="#">e-Magazines</a></li>
          <li><a href="#">AISHE</a></li>
          <li><a href="#">PCI</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>All Rights reserved. Powered By <span class="footer-brand-highlight">Net Savant</span> &copy; 2026</p>
    </div>
  </footer>