<div class="page-banner" style="background-image: url('/assets/campus_banner.jpg');">
  <div class="page-banner-overlay">
    <h1 class="page-banner-title"><%= pageTitle %></h1>
    <div class="page-banner-breadcrumb">
      <a href="/">Home</a> <span class="crumb-sep">/</span>
      <% breadcrumb.forEach(function(crumb, i) { %>
        <% if (i === breadcrumb.length - 1) { %>
          <span class="crumb-current"><%= crumb.label %></span>
        <% } else { %>
          <a href="<%= crumb.url %>"><%= crumb.label %></a> <span class="crumb-sep">/</span>
        <% } %>
      <% }); %>
    </div>
  </div>
</div>